server:
  port: 8080
#  Eureka配置
eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8001/eureka
spring:
# JPA配置
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    properties:
      format_sql: true
    show-sql: true
# redis配置
  redis:
    port: 6379
    host: localhost
    lettuce:
      pool:
        max-idle: 15
        min-idle: 8
        max-active: 10
        max-wait: 50000
# MySql连接配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/2022-10-26?characterEncoding=UTF-8&useUnicode=true&useSSL=false&serverTimezone=UTC